.my {
    width: 100%;
    height: 100%;
    background: #fff;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background: #c85793;

        span {
            padding-left: 10px;
            color: #fff;
            font-size: 20px;
        }

        img {
            height: 50px;
        }
    }

    .asset {
        .title {
            height: 33px;
            padding: 0 10px;
            color: #fff;
            font-size: 16px;
            line-height: 33px;
            background: #fd6198;
        }

        .detail {
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: 70px;
            padding: 0 10px;
            font-size: 14px;
            background: #fff;
        }
    }

    .boon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        padding: 0 10px;
        color: #fff;
        font-size: 28px;
        background: #511a32;

        .show-more {
            width: 100px;
            height: 48px;
            font-size: 14px;
            line-height: 48px;
            text-align: center;
            background: #d84da0;
            border: 1px solid #fff;
            border-radius: 3px;
        }
    }

    .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        background: #fff;

        .line-1 {
            width: 100%;
            height: 33px;
            padding: 0 10px;
            color: #fff;
            font-size: 16px;
            line-height: 33px;
            background: #fd6198;
        }

        .line-2 {
            padding: 10px;
            color: #d9001a;
            font-size: 14px;
            background: #fff;
        }

        .line-3 {
            padding: 10px;
            color: #333;
            font-weight: 500;
            font-size: 14px;
        }

        .line-4 {
            width: 95%;
            padding: 0 10px 15px;
            color: #333;
            font-weight: 500;
            border: 1px solid #333;
            border-radius: 3px;

            p {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                span:nth-child(1) {
                    font-size: 16px;
                }

                span:nth-child(2) {
                    padding: 2px 8px;
                    font-weight: 300;
                    font-size: 14px;
                    border: 1px solid #333;
                    border-radius: 4px;
                }
            }
        }
    }
}
