.page-bg {
    background: linear-gradient(to bottom right, #b8336a, #6d1b3c);
}

.login-form-bg {
    background: linear-gradient(to bottom right, #ffd1e1, #ffb6c1);
}

.overlay-bg {
    background-color: rgba($color: #000, $alpha: 0.5);
    backdrop-filter: blur(10px);
}

.button-gradient {
    background: linear-gradient(to right, #d84ca0, #c72c77);
}

.swiper-bottom-bg {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
